/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 15px 100px;
        background-color: #111f29;

        @media (max-width: 1024px) {
            padding: 15px 50px;
        }

        @media (max-width: 768px) {
            align-items: center;
            padding: 15px 30px;
        }

        @media (max-width: 480px) {
            padding: 10px 20px;
        }

        @media (max-width: 360px) {
            flex-direction: column;
        }
    }

    &__info-section {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            justify-content: center;
        }

        @media (max-width: 480px) {
            align-items: center;
        }
    }

    &__phone-icon, &__mail-icon {
        margin-right: 10px;

        @media (max-width: 480px) {
            margin-right: 5px;
        }
    }

    &__info {
        margin-right: 40px;
        font-size: 14px;
        color: white;

        @media (max-width: 768px) {
            margin-right: 20px;
            font-size: 13px;
        }

        @media (max-width: 480px) {
            margin-right: 10px;
            font-size: 12px;
            text-align: center;
        }
    }

    &__link-section {
        display: flex;
        align-items: center;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    &__link {
        margin-left: 10px;
        text-decoration: none;
        font-size: 20px;
        color: white;

        @media (max-width: 768px) {
            font-size: 18px;
        }

        @media (max-width: 480px) {
            font-size: 16px;
            margin-left: 5px;
        }

        &--facebook {
            &:hover {
                color: #e5312d;
            }
        }

        &--linkedin {
            &:hover {
                color: #e5312d;
            }
        }
    }
}

.header__phone-link,
.header__email-link {
    color: white; // or whatever color you're using for text in the header
    text-decoration: none; // removes underline from links
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.8; // slight fade effect on hover
    }
}
